body {
  background-color: wheat;
}

.form-wrapper {
  width: 550px;
  height: 300px;
  border: 2px solid black;
  background-color: ghostwhite;
}

#result {
  display: none;
}

h1 {
  text-align: center;
}

.form-group {
  margin-left: 10px;
}

#translate {
  margin-left: 10px;
}

.error {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 2em;
}
